<div class="container-fluid footer">
	<div class="row">
		<div class="col-md-6 offset-md-3 text-center">
			<img style="width: 70px !important; heigth: auto !important, max-width: 100% !important" class="animeted infinite pulse" src="<?= $this->url->build('/img/logo-mobit2.png') ?>" >
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 offset-md-3 text-center">
			
		</div>
	</div>
</div>
