@font-face {
    font-family: 'Merriweather-Regular';
    src:  url('../fonts/Merriweather-Regular.ttf') format('truetype');    
}
@font-face {
    font-family: 'Merriweather-Bold';
    src:  url('../fonts/Merriweather-Bold.ttf') format('truetype');    
}
@font-face {
    font-family: 'Merriweather-Black';
    src:  url('../fonts/Merriweather-Black.ttf') format('truetype');    
}
@font-face {
    font-family: 'Merriweather-Light';
    src:  url('../fonts/Merriweather-Light.ttf') format('truetype');    
}

.nav-link{
    font-family: 'Merriweather-Regular';
}

::selection {
    background: #343a40;
    color: #fff;
}
body{
    font-family: 'Merriweather-Light';
}