<?php $this->set('title',"{{ action|humanize }} {{ singularHumanName }}" ); ?>
{% set fields = Bake.filterFields(fields, schema, modelObject) %}
<article class='container mh-100'>
    <div class="row {{ pluralVar }}">
        <div class="col-md-12" style=''>
            <?= $this->Form->create(${{ singularVar }}) ?>
                <fieldset>
                    <legend><?= __('{{ action|humanize }} {{ singularHumanName }}') ?></legend>
                    <?php
                        {% for field in fields if field not in primaryKey %}
                            {%- if keyFields[field] %}
                                {%- set fieldData = Bake.columnData(field, schema) %}
                                {%- if fieldData.null %}
                                    echo $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}, 'empty' => true, 'class' => 'form-control']);
                                    {{- "\n" }}
                                {%- else %}
                                    echo $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}, 'class' => 'form-control']);
                                    {{- "\n" }}
                                {%- endif %}
                                {%- elseif field not in ['created', 'modified', 'updated'] %}
                                {%- set fieldData = Bake.columnData(field, schema) %}
                                {%- if fieldData.type in ['date'] %}
                                    echo $this->Input->date('{{ field }}', ['valeu' =>  ${{ singularVar }}['{{field}}'] ]);
                                    {{- "\n" }}
                                {%- endif %}
                                {%- if fieldData.type in ['datetime', 'time'] and fieldData.null %}
                                    echo $this->Form->control('{{ field }}', ['empty' => true, 'class' => 'form-control']);
                                    {{- "\n" }}
                                {%- endif %}
                                {%- if fieldData.type in ['boolean', 'checkbox'] %}
                                    echo $this->Input->checkBox('{{ field }}', ['value' => ${{ singularVar }}['{{field}}']]);
                                    {{- "\n" }}
                                {%- else %}
                                    echo $this->Form->control('{{ field }}', ['class' => 'form-control']);
                                {{- "\n" }}
                                {%- endif %}
                            {%- endif %}
                        {%- endfor %}
                        {%- if associations.BelongsToMany %}
                            {%- for assocName, assocData in associations.BelongsToMany %}
                                    echo $this->Form->control('{{ assocData.property }}._ids', ['options' => ${{ assocData.variable }}, 'class' => 'form-control']);
                            {{- "\n" }}
                            {%- endfor %}
                        {% endif %}
                    ?>
                </fieldset>
                <?= $this->Form->button(__('Save'), ['class'=>'btn btn-primary ']) ?>
                <?= $this->Html->link(__('List {{ pluralHumanName }}') , ['action' => 'index', {{ pk|raw }}], ['class'=>'btn btn-dark ']) ?>
            <?= $this->Form->end() ?>
        </div>
    </div>
</article>