.bg-black{
    background: #000;
}
.bg-dark-as-hover{
    background: #23272b;
}
.logo{
    height: 35px;
    width: 35px;
    padding: 5px;
    border-radius: 25px;
    background: white;
    color:#23272b;
    line-height: 23px;
    text-align: center;
}
.minh-100px{
    min-height: 100px;
}
.minh-300px{
    min-height: 300px;
}
.footer-logo-cakephp{
    width: 100px;
    height: 20px;    
}
.footer-logo-bootstrap{
    width: auto;
    height: 25px;    
}
.bg-primary-diag{
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#343a40+2,007bff+54,343a40+100 */
/*background: #007bff;*/

/*
background: #343a40; /* Old browsers */
/*


*/

background: -moz-linear-gradient(-45deg, #343a40 2%, #007bff 54%, #343a40 100%); 
background: -webkit-linear-gradient(-45deg, #343a40 2%,#007bff 54%,#343a40 100%); 
background: linear-gradient(135deg, #343a40 2%,#007bff 54%,#343a40 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343a40', endColorstr='#343a40',GradientType=1 ); 

}
footer{
    padding: 3%
}
table .thead-dark tr th a{
    color:#fff;
    text-decoration: underline;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    list-style: none;
    background-color: #343a40;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
  

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  
  .dropdown-item:hover, .dropdown-item:focus {
    color: #343a40;
    text-decoration: none;
    background-color: #fff;
  }
  
  .dropdown-item.active, .dropdown-item:active {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
  }
  
  .dropdown-item.disabled, .dropdown-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent;
  }