<?php $this->set('title',"Contato | tcdeoliveira.com.br" ); ?>

<div class='container'>
    <div class='row'>
        <div class='col-md-3'>
            <small class='text-secondary' style='font-family: Merriweather-Light'>
                <h5>Envie sua menssagem</h5>
                <hr>
                <p>
                    Oi, use está área para enviar uma menssagem para mim, sugestão, dica, dúvida,
                </p>
            </small>
        </div>
        <div class='col-md-9'>
            <div class='form-group'>
                <input type='email' class='form-control' placeholder='email'>
            </div>
            <div class='form-group'>
                <input type='email' class='form-control' placeholder='nome'>
            </div>
            <div class='form-group'>
                <textarea rows='010' class='form-control' name='menssagem'></textarea>
            </div>
            <button class='btn btn-outline-dark'>Enviar Menssagem</button>
        </div>
    </div>
</div>