<?php $this->set('title',"{{ singularHumanName }}" ); ?>
<article class='container-fluid mh-100'>
    {% set fields = Bake.filterFields(fields, schema, modelObject, indexColumns, ['binary', 'text']) %}
    <div class="row" style="">
        <div class="col-md-6 offset-3">  
            <?= $this->Form->create('search', ['url' => [ 'action' => 'search']]) ?>
                <div class="input-group">            
                    <input type="text" class="form-control" placeholder="find {{sigular_label}}" aria-label="find {{sigular_label}}" aria-describedby="button-addon4">
                    <div class="input-group-append" id="button-addon4">
                        <button class="btn btn-primary" type="submit"><?= __('Find') ?></button>
                        <?= $this->Html->link(__('New'), ['action' => 'add'], ['class'=>'btn btn-dark ']) ?>
                    </div>            
                </div>
            <?= $this->Form->end() ?>
            <hr>
        </div>    
        <div class="col-md-12">      
            <div class="table-responsive">
                <table class="table table-striped table-hover  table-dark" id="data">
                    <thead class="thead-dark">
                        <tr>
                            {% for field in fields %}
                                <th ><?= $this->Paginator->sort('{{ field }}') ?></th>
                            {% endfor %}
                            <th class="actions"><?= __('Actions') ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach (${{ pluralVar }} as ${{ singularVar }}): ?>
                            <tr>
                                {% for field in fields %}
                                {% set isKey = false %}
                                {% if associations.BelongsTo %}
                                {% for alias, details in associations.BelongsTo if field == details.foreignKey %}
                                {% set isKey = true %}
                                    <td><?= ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : '' ?></td>
                                {% endfor %}
                                {% endif %}
                                {% if isKey is not same as(true) %}
                                {% set columnData = Bake.columnData(field, schema) %}
                                {% if columnData.type not in ['integer', 'float', 'decimal', 'biginteger', 'smallinteger', 'tinyinteger'] %}
                                    <td><?= h(${{ singularVar }}->{{ field }}) ?></td>
                                {% else %}
                                    <td><?= $this->Number->format(${{ singularVar }}->{{ field }}) ?></td>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% set pk = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}
                                <td class="actions"  style="white-space:nowrap">
                                    <?= $this->Html->link(__('View'), ['action' => 'view', {{ pk|raw }}], ['class'=>'btn btn-info btn-sm ']) ?>
                                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', {{ pk|raw }}], ['class'=>'btn btn-warning btn-sm ']) ?>
                                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', {{ pk|raw }}], ['class'=>'btn btn-danger btn-sm ','confirm' => __('Are you sure you want to delete # {0}?', {{ pk|raw }})]) ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>       
        </div>
        <div class="paginator col-md-12" style="margin-top:20px">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <?= $this->Paginator->first('<< ' . __('First')) ?>
                    <?= $this->Paginator->prev('< ' . __('Back')) ?>
                    <?= $this->Paginator->numbers() ?>
                    <?= $this->Paginator->next(__('Next') . ' >') ?>
                    <?= $this->Paginator->last(__('Last') . ' >>') ?>
                </ul>
            </nav>
            <i class="text-secondary">
                <small>
                    <p><?= $this->Paginator->counter(['format' => __('Page {{ '{{' }}page{{ '}}' }} of {{ '{{' }}pages{{ '}}' }}, showing {{ '{{' }}current{{ '}}' }} record(s) out of {{ '{{' }}count{{ '}}' }} total')]) ?></p>
                </small>    
            </i>
        </div>
    </div>
</article>