<?php $this->set('title',"{{ action|humanize }} {{ singularHumanName }}" ); ?>
{% set associations = {'BelongsTo': [], 'HasOne': [], 'HasMany': [], 'BelongsToMany': []}|merge(associations) %}
{% set fieldsData = Bake.getViewFieldsData(fields, schema, associations) %}
{% set associationFields = fieldsData.associationFields %}
{% set groupedFields = fieldsData.groupedFields %}
{% set pK = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}
<div class='container-fluid' style=''>
    <div class=" row">
        <div class="col-md-12"  >
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow" style='margin-bottom:15px'>
            <a class="navbar-brand" href="#">    <?= __('{{ singularHumanName }} Actions') ?></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="my-2 my-lg-0">     
                    <?= $this->Html->link("<i class='material-icons'>format_list_numbered</i>", ['action' => 'index'], ['escape'=>false, 'class'=>'btn btn-primary btn-sm ']) ?>
                    <?= $this->Html->link("<i class='material-icons'>format_paint</i>", ['action' => 'edit',  {{ pK|raw }}], ['escape'=>false,'class'=>'btn btn-warning btn-sm ']) ?>
                    <?= $this->Form->postLink("<i class='material-icons'>delete_forever</i>", ['action' => 'delete',  {{ pK|raw }}], ['escape'=>false,'class'=>'btn btn-danger btn-sm ','confirm' => __('Are you sure you want to delete # {0}?', ${{ singularVar }}->{{ displayField }})]) ?>
                </ul>
            </div>
            </nav>
        </div>
    </div>
    <div class='row'>    
    <div class="col-md-12" >        
        <h3>#<?= h(${{ singularVar }}->{{ displayField }}) ?></h3>
        <div class="table-responsive ">
        <table class="table table-striped table-hover  table-dark shadow">
            {% if groupedFields['string'] %}
                {% for field in groupedFields['string'] %}
                    {% if associationFields[field] %}
                    {% set details = associationFields[field] %}
                        <tr>
                            <th scope="row"><?= __('{{ details.property|humanize }}') ?></th>
                            <td><?= ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : '' ?></td>
                        </tr>
                    {% else %}
                        <tr>
                            <th scope="row"><?= __('{{ field|humanize }}') ?></th>
                            <td><?= h(${{ singularVar }}->{{ field }}) ?></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if associations.HasOne %}
                {% for alias, details in associations.HasOne %}
                    <tr>
                        <th scope="row"><?= __('{{ alias|underscore|singularize|humanize }}') ?></th>
                        <td><?= ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : '' ?></td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if groupedFields.number %}
                {% for field in groupedFields.number %}
                    <tr>
                        <th scope="row"><?= __('{{ field|humanize }}') ?></th>
                        <td><?= $this->Number->format(${{ singularVar }}->{{ field }}) ?></td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if groupedFields.date %}
                {% for field in groupedFields.date %}
                    <tr>
                        <th scope="row"><?= __('{{ field|humanize }}') ?></th>
                        <td><?= h(${{ singularVar }}->{{ field }}) ?></td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if groupedFields.boolean %}
                {% for field in groupedFields.boolean %}
                    <tr>
                        <th scope="row"><?= __('{{ field|humanize }}') ?></th>
                        <td><?= ${{ singularVar }}->{{ field }} ? __('Yes') : __('No'); ?></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
        </div>
        {% if groupedFields.text %}
            {% for field in groupedFields.text %}
                <div class="row">
                    <h4><?= __('{{ field|humanize }}') ?></h4>
                    <?= $this->Text->autoParagraph(h(${{ singularVar }}->{{ field }})); ?>
                </div>
            {% endfor %}
        {% endif %}
    </div>    
</div>
{% set relations = associations.BelongsToMany|merge(associations.HasMany) %}
{% for alias, details in relations %}
    {% set otherSingularVar = alias|variable %}
    {% set otherPluralHumanName = details.controller|underscore|humanize %}
    <div class="related row">
        <div class="col-md-12">
            <h4><?= __('Related {{ otherPluralHumanName }}') ?></h4>
            <?php if (!empty(${{ singularVar }}->{{ details.property }})): ?>
                <div class="table-responsive">
                    <table class="table table-hover table-striped" cellpadding="0" cellspacing="0">
                        <tr>
                            {% for field in details.fields %}
                                    <th scope="col"><?= __('{{ field|humanize }}') ?></th>
                            {% endfor %}
                            <th scope="col" class="actions"><?= __('Actions') ?></th>
                        </tr>
                        <?php foreach (${{ singularVar }}->{{ details.property }} as ${{ otherSingularVar }}): ?>
                        <tr>
                            {% for field in details.fields %}
                                <td><?= h(${{ otherSingularVar }}->{{ field }}) ?></td>
                            {% endfor %}
                            {% set otherPk = '$' ~ otherSingularVar ~ '->' ~ details.primaryKey[0] %}
                            <td class="actions">
                                <?= $this->Html->link(__('Visualizar'), ['controller' => '{{ details.controller }}', 'action' => 'view', {{ otherPk|raw }}]) ?>
                                <?= $this->Html->link(__('Editar'), ['controller' => '{{ details.controller }}', 'action' => 'edit', {{ otherPk|raw }}]) ?>
                                <?= $this->Form->postLink(__('Deletar'), ['controller' => '{{ details.controller }}', 'action' => 'delete', {{ otherPk|raw }}], ['confirm' => __('Are you sure you want to delete # {0}?', {{ otherPk|raw }})]) ?>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </table>
                </div>
            <?php endif; ?>
        </div>
    </div>
{% endfor %}




    </div>
</div>